html, body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    font-family: sans-serif;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
} 

.brands {
    display: flex;
}

.brand {
    height: 100vh;
    flex: 1;
    transition: all .75s;
    transition-timing-function: cubic-bezier(0.68,-0.55, 0.49, 1);
    position: relative;

    display: grid;
    grid-template-rows: 10fr 1fr;
}

.brand_hover:hover {
    flex: 1.5;
}

.brand__title {
    text-align: center;
}

.brand__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand__image img {
    width: 70%;
}