*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-weight: 100;
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
} 

.brand {
    height: 100vh;
    width: 100vw;
    flex: 1;
    transition: all .75s;
    transition-timing-function: cubic-bezier(0.68,-0.55, 0.49, 1);
    position: relative;
    color: rgba(255, 255, 255, 0.6);

    display: grid;
    grid-template-rows: 10fr 1fr;
    letter-spacing: 1px;
}

.brand__title {
    text-align: center;
}

.brand__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand__image img {
    margin-top: 30px;
    max-width: 70%;
    max-height: 70%;
}

/* SELECTING BRAND */

.selected-brand-layout {
    display: flex;
    align-items: center;
}

.fade-out-brand {
    flex: 0;
}

.fade-out-brand-img img {
    width: 0;
}

.fade-out-brand-title .brand__title {
    display: none;
}

.hide_div {
    display: none;
}

@media only screen and (min-width: 800px) {
    .brand_hover:hover {
        flex: 1.25;
        color: white;
        letter-spacing: 3px;
    }
    
    .brand_hover:hover img {
        filter: drop-shadow(0 0 15px white);
    }
}

@media (max-width: 600px) {
    .brand {
        grid-template-rows: 5fr 1fr;
    }
    
    .selected_brand img {
        filter: drop-shadow(0 0 15px white);
    }
}

.Reanimate {
    animation: reanimate .5s;
}

@keyframes reanimate {
    from {
        transform: translateX(.00001px);
    } to {
        transform: translateX(0);
    }
}